.mainSidebarContainer{
    background-color: var( --light-primary);
    color: white;
    width: 15vw;
    min-width: 250px;
    height: 100vh;

}

.profile-section{
    border-bottom: 1px solid var(--primary-color);
    height: 4.2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.profile-section .name-container{
    display: flex;
    flex-direction: column;
}

.profile-section .name-container .header{
    font-size: 1.1rem;
    font-weight: 100;
}

.profile-section .name-container .header svg{
    /* margin-bottom: -.2rem; */
    transition: all .5s;
    border-radius: 50%;
    display: inline;

}

.profile-section .name-container .header svg:hover{
    background-color: var(--primary-color);
    border: 2px solid var(--light-hover);
}


.profile-section .name-container .sub-header{
    font-size: .8rem;
    font-weight: 100;
    margin-top: .2rem;
    display: inline-block;
    padding-left: .1rem;
}

.image-container{
    margin-right: .6rem;
    border-radius: 50%;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--light-primary)
}

/* menu item styles */

.menu-item-container{
    padding: .5rem 1rem .5rem 1rem;
}

.menu-item-container .menu-item{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-item-container:hover{
    background-color: var(--dark-primary);
}


.menu-item-container.active-menu{
    background-color: var(--dark-primary);

}
.menu-item-container .menu-item .menu-icon{
    padding-top: .25rem;
    padding-right: .8rem;
    font-size: 1.2rem;
}

.menu-item-container .menu-item .menu-title{
    flex-grow: 1;
    display: flex;
    justify-content:space-between ;
}
.menu-item-container .menu-item .menu-title .expand-arrow{
    margin-right: .5rem;
    padding-top: .25rem;
}

@media  (max-width: 900px) {
    .mainSidebarContainer{
        display: none;
    }
}
